<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pinterest Clone</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      .logo {
        height: 100%; /* Adjust this if needed to fit the logo size */
      }
    </style>
  </head>
  <body class="bg-zinc-900 text-white">
    <!-- Include Navbar -->
    <%- include('partials/nav') %>

    <!-- Feed Container -->
    <div
      class="columns-2 md:columns-3 lg:columns-4 xl:columns-5 w-[90%] mx-auto py-4 gap-x-2 gap-y-4 pt-16"
    >
      <!-- Image Pin -->
      <div class="posts">
        <% posts.forEach(function(post){ %>
        <div class="m-2 break-inside-avoid">
          <a href="/viewpost/<%= post._id %>">
            <img
              src="/images/uploads/<%= post.image %>"
              class="w-full rounded-lg"
              alt="<%= post.imageText %> Image"
            />
          </a>
          <a href="/viewpost/<%= post._id %>">
            <div class="text-sm mt-2"><%= post.imageText %></div>
          </a>
          <div class="text-xs mt-2">Posted by: @<%= post.user.username %></div>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
